*{
    margin: 0px;
    padding: 0px;
}
*::before, *::after{
    box-sizing: inherit;
}
body{
    line-height: 1.5;
}
    
.content{
    margin-left: auto;
    margin-right: auto;
}
header{
    text-align: center;
    padding: 130px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.photo{
    font-size: 24px;
    text-transform: uppercase;
}
h1{
    font-size: 36px;
    letter-spacing: 6px;
    font-weight: 400;
    color: rgba(87, 81, 81, 0.81);
    margin: 10px 0;
    font-family:"Raleway", Arial, sans-serif;
}
.menu-padding{
    padding-top: 32px;
    padding-bottom: 32px;
}
.menu-padding .menu-border{
    display: inline-block;
    border: 1px solid #ccc ;
    text-align: center;
}
.menu-border a{
    font-family:"Raleway", Arial, sans-serif;
    text-decoration: none;
    padding: 8px 16px;
    float: left;
    display: block;
    width: auto;
    outline: 0;
    white-space: normal;
    color: #6a6464;
}
.menu-padding .menu-border a:hover{
    color: rgb(17, 17, 17);
    background-color: #ccc;
}
.menu-item{
    overflow: hidden;
    color: inherit;
    text-align: center;
    vertical-align: middle;
}
.picture{
    position: relative;
    padding: 0 8px;
    height: 3990px;
}
.half1{
    position: absolute;
    top: 0px;
    right: 49%;
    padding: 0 30px 5px 17px;
}
.half2{
    position: absolute;
    top: 0px;
    left: 50%;
    padding: 0 15px 5px 1px;
}
.picture::before, .picture::after{
    content: "";
    display: table;
    clear: both;
}
img{
    width:100%;
    margin-bottom: 10px;
}
@media(min-width: 601px){
    .half{
        width: 49.99999%;
    }
}
footer::before, footer::after{
    content: "";
    display: table;
    clear: both;
}
footer{
    background-color: #f1f0f0;
    margin-top: 64px;
    /* margin-bottom: 64px; */
    text-align: center;
    display: block;
    height: 200px;
}
i{
    margin-top: 70px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 20px;
}
div{
    display: block;
}
.fa-facebook-official::before{
    content: "\f230";
}
.fa-instagram::before{
    content: "\f16d";
}
.fa-snapchat::before{
    content: "\f2ab";
}
.fa-pinterest::before{
    content: "\f231";
}
.fa-twitter::before{
    content: "\f009";
}
.fa-linkedin::before{
    content: "\f0e1";
}
.end{
    color: black;
}